
website-with-flask/site/my_site/
request-to-http/bearer.txt
request-to-http/body.json
request-to-http/config.json
request-to-http/config.json
request-to-http/config.json
request-to-http/bearer.txt
*.apk
adb-automation/__pycache__/installer.cpython-36.pyc
adb-automation/indx.txt
adb-automation/data/config/buildsdir.txt
adb-automation/test_multiple_command_lines.py
cwiczenia/conv.txt
cwiczenia/liczby.txt
adb-automation/ip_adresses.txt
cwiczenia/conv.txt
cwiczenia/liczby.txt
*.mp4
airtest/logcat.txt
airtest/logcat.txt
airtest/output/error.png
airtest/logcat.txt
airtest/output/error.png
adb-automation/ip-scrapper/ip_adresses.txt
adb-automation/screenshot/output/Samsung_Galaxy_A5_2016_1920x1080.png
adb-automation/screenshot/output/Samsung_Galaxy_S8_2960x1440.png
adb-automation/screenshot/output/Samsung_Galaxy_Tab_S2_2048x1536.png
adb-automation/ip-scrapper/ip_adresses.txt
adb-automation/screenshot/output/Samsung_Galaxy_S6_2560x1440.png
adb-automation/ip-scrapper/ip_adresses.txt
adb-automation/ip-scrapper/ip_adresses.txt
